*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.logo{
    font-size: 28.43px;
    color: #D9D9D9;
    font-weight: 600;
}
h1{
    font-size: 67.34px;
}
h2{
    font-size: 37.9px;
}
h3{
    font-size: 28.43px;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    height: 96px;
    width: 100%;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    flex-direction: row;
    list-style: none;
    grid-gap: 2rem;
}

.nav-link{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.button-link{
    background-color: #31BBFF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 24px;
    color: black;
    text-decoration: none;
}

.section-1{
    background-color: darkgreen;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 120px;
    height: 980px;

    background-image: url("./images/tiger-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
}

.section-1 .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-1 h1{
    color: white;
    margin-bottom: 24px;
}
.section-1 p{
    color: white;
}

.title-and-description{
    max-width: 595px;
}

.conservation-methods{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px;
    list-style: none;
    margin-top: 72px;
}


.conservation-method{
    position: relative;
}
.conservation-method h3{
    position: absolute;
    bottom: 24px;
    left: 24px;
    color: white;
}

.conservation-method img{
    width: 100%;
    height: 100%;
}

.container{
    max-width: 1416px;
    width: 100%;
}

.section-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 120px;
}

.section-2-heading-para{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 32px;
    border-bottom: 1px solid #B2B2B2;
}